* {
  margin: 0;
  padding: 0;
}

body{
  background:url(https://img.freepik.com/vector-gratis/fondo-vector-verde-oscuro-signos-dolares-ilustracion-abstracta-geometrica-moderna-simbolos-bancarios-eps_505557-2391.jpg?w=740);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: 0px -250px;
  /*max-height:100vh;*/
  /*position:relative;*/
  /*width:1280px; height:720px;*/
}

footer {
  background-color:rgb(19, 181, 229);
  width:100%;
  text-align:center;
  height:2.8em;
  position:relative;
}

.divc2 {
  display:flex;
  flex-direction: column;
  border-style: groove;
  border-width:10px;
  background:rgba(0, 0, 0, 0.022);
  align-items: center;
}

.divc2 img {
  margin:5%;
}

.ol {
  font-size:26px;
  margin:3%;
  line-height:1.5em;
}

.li1 {
  /*padding-bottom: 10px;*/
}

.p1 {
  font-size:26px;
  /*padding-top:15px;*/
}

#texto {
  width:135px; height:22px; border:2px solid;
}

#btnp {
  cursor:pointer;
}

#btnp:hover {
  background-color: #3b83bd;

}

.p2 {
  text-align:center;
  font-size:30px;
  color:red;
  padding: 15px 0;

}

.p2 p {
  /*text-align:center; */
  font-size:65px; color:blue; font-weight:bold;
  /*margin:20px auto;*/
}

html {
  scroll-behavior: smooth;  /* CON ESTO RELENTIZO CUANLQUIER SALTO DENTRO DE LA PAGINA */
}

@media (max-width: 580px) {
  body {
    background-size: auto;
    width: 100%;
  }
  h1 {
    font-size: small;
    text-align: center;
  }
  img {
    width: 60%;
  }
  .ol {
    font-size: 0.70em;
    padding-left: 10px;
  }
  .p2 p {
    width: 100%;
    text-align:center; font-size:1em; color:blue; font-weight:bold;
  }
  .p2 {
    width: 100%;
    font-size:1.2em;
  }
}
